fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
requests
beautifulsoup4
newspaper3k
lxml_html_clean
celery
redis
# sentence-transformers (Removed for Cloud Lite Mode)
# torch (Removed for Cloud Lite Mode)
python-multipart
python-jose[cryptography]
passlib[bcrypt]
